<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSplashTheme">

        <activity
            android:name=".core.presentation.MainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".common.notifications.data.repository.NotificationsBroadcastReceiver"
            android:exported="false">
                <intent-filter>
                    <action android:name="CLICK" />
                    <action android:name="DISMISSED" />
                    <action android:name="BUTTON_PRESSED" />
                    <action android:name="CANCELLED" />
                    <action android:name="UNKNOWN" />
                </intent-filter>
        </receiver>
    </application>

</manifest>